<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.onetomany.StudentMapper">
	<resultMap id="BaseResultMap" type="com.imooc.onetomany.Student">
		<id column="sid" property="sid" jdbcType="INTEGER" />
		<result column="sname" property="sname" jdbcType="VARCHAR" />
	</resultMap>



	<select id="selectStudent" resultMap="BaseResultMap">
		select sid,sname from student where sid = #{id}
	</select>
	<select id="selectStudentByClassId" resultMap="BaseResultMap">
		select sid,sname from student where classid = #{id}
	</select>




</mapper>